name: Gradle Build

on:
  release:
    types:
      - created

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
          server-id: github
      - name: Build with Gradle
        run: ./gradlew build
        env:
          SIGNING_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY: ${{ secrets.OSSRH_PASSWORD }}
      - name: Deploy to Github packages
        run: ./gradlew publish
        env:
          USERNAME: g0ddest
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SIGNING_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY: ${{ secrets.OSSRH_PASSWORD }}
      - name: Deploy to Maven Central
        run: ./gradlew uploadArchives
        env:
          OSSRH_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          OSSRH_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          SIGNING_KEY: ${{ secrets.OSSRH_PASSWORD }}