name: Gradle Build

on:
  release:
    types:
      - created

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          server-id: github
      - name: Build with Gradle
        run: ./gradlew build
        env:
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      - name: Deploy to Github packages
        run: ./gradlew publishGprPublicationToGitHubPackagesRepository
        env:
          USERNAME: g0ddest
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      - name: Deploy to Maven Central (upload)
        run: ./gradlew publishGprPublicationToMavenCentralRepository
        env:
          CENTRAL_TOKEN_USERNAME: ${{ secrets.CENTRAL_TOKEN_USERNAME }}
          CENTRAL_TOKEN_PASSWORD: ${{ secrets.CENTRAL_TOKEN_PASSWORD }}
          SIGNING_PASSWORD: ${{ secrets.SIGNING_PASSWORD }}
          SIGNING_KEY: ${{ secrets.SIGNING_KEY }}
      - name: Finalize Maven Central deployment
        run: |
          curl -f --retry 3 -X POST \
            -H "Authorization: Bearer $(echo -n '${{ secrets.CENTRAL_TOKEN_USERNAME }}:${{ secrets.CENTRAL_TOKEN_PASSWORD }}' | base64)" \
            "https://ossrh-staging-api.central.sonatype.com/manual/upload/defaultRepository/name.velikodniy.vitaliy?publishing_type=automatic"